<h3>
  Titel: {{artworkDetails.basics.name}}
</h3>
<div> Eeuw: {{artworkDetails.datingCentury}} <br>
      Datum: {{artworkDetails.datingDate}} <br>
      In bezit van het Rijksmuseum sinds: {{artworkDetails.acquisition}} <br>
      Techniek: {{artworkDetails.techniques}} <br>
      Materialen: {{artworkDetails.materials}} <br>
      Objectnummer: {{ artwork.objectNumber}} <br> <br>
</div>
<div>
  <img src="{{artworkDetails.basics.urlImg}}"
       alt="afbeelding van {{ artworkDetails.basics.objectNumber }} ontbreekt" 
       class="img-thumbnail moviePoster" 
       height=500 
       width=500>
</div>

